@use './button.scss';



.register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

     background-color: rgb(216, 165, 176);
    // background-image: linear-gradient(315deg, #1fabcb 10%, #d23385 74%);
    background-image: url('https://images.unsplash.com/photo-1633329102202-eaa697179563?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTQ0fHxtdXNpY3xlbnwwfHwwfHx8MA%3D%3D');
    // background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-blend-mode: multiply;

    .form-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 5rem rgba(101, 49, 91, 0.5);
        min-width: 30vw;
        
        background: rgba(70, 45, 55, 0.55);
        backdrop-filter: blur(10px);
        margin: 2rem;
    }

    .login-form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .form-group{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    input{
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        outline: none;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    

}
